.textcontainer {
    width: 45vw;
    max-width: 330px;
    margin: 5px;
    padding: 20px;
    font-family: "Atrament";
    text-align: justify;
}
.title h1 {
    font-size: 32px;
    margin: 0px 0px 5px 0px;
}
.description {
    font-size: 17px;
}
