.eventscontainer {
    position: absolute;
    width: 100vw;
}
.slidercontainer {
    display: flex;
}
.banner1,
.banner2,
.banner3 {
    position: relative;
    font-family: "Atrament";
}

///Mobile Portrait
@media screen and (max-width: 600px) and (orientation: portrait) {
    .eventscontainer {
        height: 2500px;
    }
    .slidercontainer {
        position: absolute;
        flex-direction: column;
        align-items: center;
        width: 88vw;
        height: auto;
        left: 50%;
        top: 3.5rem;
        transform: translate(-50%, 3.5rem);
    }
    //// Banner 1
    .bannercontainerone {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonetone {
        position: absolute;
        padding: 15px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    //// Banner 2
    .bannercontainertwo {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonettwo {
        position: absolute;
        padding: 15px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    //// Banner 3
    .bannercontainerthree {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonetthree {
        position: absolute;
        padding: 15px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .banner1,
    .banner2,
    .banner3 {
        width: 350px;
        height: 600px;
        margin-bottom: 50px;
        z-index: 1;
    }
}
///Mobile Landscape
@media only screen and (min-width: 600px) and (max-width: 926px) and (orientation: landscape) {
    .eventscontainer {
        height: 150vh;
    }
    .slidercontainer {
        position: absolute;
        justify-content: space-between;
        width: 87.5vw;
        // height: 75vh;
        height: auto;
        left: 50%;
        top: 2.5rem;
        transform: translate(-50%, 2.5rem);
        z-index: 2;
    }
    //// Banner 1
    .bannercontainerone {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonetone {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    //// Banner 2
    .bannercontainertwo {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonettwo {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    //// Banner 3
    .bannercontainerthree {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonetthree {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .banner1,
    .banner2,
    .banner3 {
        width: 250px;
        height: 400px;
    }
}
///Tablet Portrait
@media screen and (min-width: 600px) and (orientation: portrait) {
    .eventscontainer {
        height: 300vh;
    }
    .slidercontainer {
        position: absolute;
        flex-direction: column;
        align-items: center;
        // width: 65vw;
        height: auto;
        left: 50%;
        top: 3.5rem;
        transform: translate(-50%, 3.5rem);
    }
    //// Banner 1
    .bannercontainerone {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonetone {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    //// Banner 2
    .bannercontainertwo {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonettwo {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    //// Banner 3
    .bannercontainerthree {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonetthree {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .banner1,
    .banner2,
    .banner3 {
        width: 550px;
        height: 1000px;
        margin-bottom: 25px;
        z-index: 1;
    }
}
///Tablet Landscape
@media screen and (min-width: 1023px) and (max-width: 1280px) and (orientation: landscape) {
    .eventscontainer {
        height: 100vh;
    }
    .slidercontainer {
        position: absolute;
        justify-content: space-between;
        width: 85vw;
        // height: 75vh;
        height: auto;
        left: 50%;
        top: 4rem;
        transform: translate(-50%, 4rem);
        z-index: 1;
    }
    //// Banner 1
    .bannercontainerone {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonetone {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    //// Banner 2
    .bannercontainertwo {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonettwo {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    //// Banner 3
    .bannercontainerthree {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonetthree {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .banner1,
    .banner2,
    .banner3 {
        width: 300px;
        height: 350px;
    }
}
///Desktop
@media screen and (min-width: 1281px) and (max-width: 1960px) {
    .eventscontainer {
        height: 100vh;
    }
    .slidercontainer {
        position: absolute;
        justify-content: space-between;
        width: 65vw;
        // height: 75vh;
        height: auto;
        left: 50%;
        top: 4rem;
        transform: translate(-50%, 4rem);
    }
    //// Banner 1
    .bannercontainerone {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonetone {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    //// Banner 2
    .bannercontainertwo {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonettwo {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    //// Banner 3
    .bannercontainerthree {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonetthree {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .banner1,
    .banner2,
    .banner3 {
        width: 300px;
        height: 350px;
    }
}
///Desktop Big
@media screen and (min-width: 1961px) and (max-width: 2400px) {
    .eventscontainer {
        height: 100vh;
    }
    .slidercontainer {
        position: absolute;
        justify-content: space-between;
        width: 65vw;
        height: 75vh;
        left: 50%;
        top: 4rem;
        transform: translate(-50%, 4rem);
        // height: auto;
    }
    //// Banner 1
    .bannercontainerone {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonetone {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    //// Banner 2
    .bannercontainertwo {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonettwo {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    //// Banner 3
    .bannercontainerthree {
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            // position: relative !important;
            position: absolute;
            height: unset !important;
        }
    }
    .bannercontainermonetthree {
        position: absolute;
        padding: 12.5px;
        width: 100%;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .banner1,
    .banner2,
    .banner3 {
        width: 375px;
        height: 400px;
    }
}
