.experiencecontainer {
    position: absolute;
    width: 100vw;
}
.backgroundimage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.monetcontainer {
    display: flex;
    background: #c5e3f3;
}
.textcontainer {
    font-family: "Atrament";
    text-align: justify;
}
.redcircle {
    position: absolute;
    bottom: 0;
    left: 0;
}
.umbrellasticker {
    position: absolute;
    right: 0;
    bottom: 0;
}

///Mobile Portrait
@media screen and (max-width: 600px) and (orientation: portrait) {
    .experiencecontainer {
        height: 1050px;
    }
    .backgroundimage {
        background-position: 15%;
    }
    .monetcontainer {
        position: absolute;
        flex-direction: column;
        align-items: center;
        width: 88vw;
        height: auto;
        // height: 77vh;
        left: 50%;
        top: 3.5rem;
        transform: translate(-50%, 3.5rem);
        z-index: 10;
    }
    .textcontainer {
        width: 85vw;
        max-width: 340px;
        padding: 15px;
        h1 {
            font-size: 30px;
            margin: 0px 0px 5px 0px;
        }
        p {
            font-size: 17px;
        }
    }
    .imagecontainer {
        width: 85vw;
        max-width: 340px;
        padding: 15px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .redcircle {
        width: 15vw;
        margin: 0px 0px 300px 5px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .umbrellasticker {
        width: 17vw;
        margin: 0px 40px 150px 0px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
}
///Mobile Landscape
@media only screen and (min-width: 600px) and (max-width: 926px) and (orientation: landscape) {
    .experiencecontainer {
        height: 650px;
    }
    .backgroundimage {
        background-position: center;
    }
    .monetcontainer {
        position: absolute;
        justify-content: space-between;
        width: 65vw;
        height: auto;
        // height: 70vh;
        left: 50%;
        top: 2.5rem;
        transform: translate(-50%, 2.5rem);
        z-index: 1;
    }
    .textcontainer {
        width: 50vw;
        max-width: 350px;
        padding: 15px;
        h1 {
            font-size: 22px;
            margin: 0px 0px 5px 0px;
        }
        p {
            font-size: 13px;
        }
    }
    .imagecontainer {
        width: 600px;
        padding: 15px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .redcircle {
        width: 8.5vw;
        margin: 0px 0px 150px 110px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .umbrellasticker {
        width: 7.5vw;
        margin: 0px 100px 250px 0px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
}
///Tablet Portrait
@media screen and (min-width: 600px) and (orientation: portrait) {
    .experiencecontainer {
        height: 100vh;
    }
    .backgroundimage {
        background-position: 15%;
    }
    .monetcontainer {
        position: absolute;
        flex-direction: column;
        align-items: center;
        width: 65vw;
        height: auto;
        // height: 77vh;
        left: 50%;
        top: 3.5rem;
        transform: translate(-50%, 3.5rem);
        z-index: 1;
    }
    .textcontainer {
        width: 85vw;
        max-width: 450px;
        padding: 10px;
        margin: 15px;
        h1 {
            font-size: 31px;
            margin: 0px 0px 5px 0px;
        }
        p {
            font-size: 21px;
        }
    }
    .imagecontainer {
        width: 85vw;
        max-width: 450px;
        padding: 10px;
        margin: 15px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .redcircle {
        width: 14vw;
        margin: 0px 0px 300px 50px;
        z-index: 2;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .umbrellasticker {
        width: 14vw;
        margin: 0px 55px 600px 0px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
}
///Tablet Landscape
@media screen and (min-width: 1023px) and (max-width: 1280px) and (orientation: landscape) {
    .experiencecontainer {
        height: 100vh;
    }
    .backgroundimage {
        background-position: center;
    }
    .monetcontainer {
        position: absolute;
        justify-content: space-between;
        width: 65vw;
        height: auto;
        // height: 77vh;
        left: 50%;
        top: 5rem;
        transform: translate(-50%, 5rem);
        z-index: 1;
    }
    .textcontainer {
        width: 35vw;
        max-width: 600px;
        padding: 15px;
        h1 {
            font-size: 32px;
            margin: 0px 0px 5px 0px;
        }
        p {
            font-size: 17px;
        }
    }
    .imagecontainer {
        width: 50vw;
        max-width: 600px;
        padding: 15px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .redcircle {
        width: 9.5vw;
        margin: 0px 0px 300px 120px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .umbrellasticker {
        width: 8.5vw;
        margin: 0px 140px 400px 0px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
}
///Desktop
@media screen and (min-width: 1281px) and (max-width: 1960px) {
    .experiencecontainer {
        height: 100vh;
    }
    .backgroundimage {
        background-position: center;
    }
    .monetcontainer {
        position: absolute;
        justify-content: space-between;
        width: 65vw;
        height: auto;
        // height: 77vh;
        left: 50%;
        top: 4rem;
        transform: translate(-50%, 4rem);
    }
    .textcontainer {
        width: 45vw;
        max-width: 330px;
        margin: 5px;
        padding: 20px;
    }
    .imagecontainer {
        width: 600px;
        padding: 15px;
        margin: 15px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .redcircle {
        width: 10vw;
        margin: 0px 0px 200px 125px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .umbrellasticker {
        width: 8.5vw;
        margin: 0px 140px 300px 0px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
}
///Desktop Big
@media screen and (min-width: 1961px) and (max-width: 2400px) {
    .experiencecontainer {
        height: 100vh;
    }
    .backgroundimage {
        background-position: center;
    }
    .monetcontainer {
        position: absolute;
        justify-content: space-between;
        width: 65vw;
        height: auto;
        // height: 77vh;
        left: 50%;
        top: 4rem;
        transform: translate(-50%, 4rem);
    }
    .textcontainer {
        width: 45vw;
        max-width: 450px;
        margin: 5px;
        padding: 20px;
        h1 {
            font-size: 34px;
            margin: 0px 0px 5px 0px;
        }
        p {
            font-size: 19px;
        }
    }
    .imagecontainer {
        width: 750px;
        padding: 15px;
        margin: 15px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .redcircle {
        width: 9vw;
        margin: 0px 0px 200px 200px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    .umbrellasticker {
        width: 8vw;
        margin: 0px 220px 320px 0px;
        > div {
            position: unset !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
}
