.experiencecontainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.backgroundimage {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.monetcontainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 65vw;
    height: auto;
    // height: 77vh;
    margin: 125px auto;
    background: #c5e3f3;
}
.textcontainer {
    // position: absolute;
    width: 45vw;
    max-width: 330px;
    margin: 5px;
    padding: 20px;
    font-family: "Atrament";
    text-align: justify;
    h1 {
        font-size: 32px;
        margin: 0px 0px 5px 0px;
        text-transform: uppercase;
    }
    p {
        margin: 0;
        font-size: 17px;
    }
}
.imagecontainer {
    // position: absolute;
    width: 600px;
    padding: 15px;
    margin: 15px;
    img {
        width: 100%;
    }
}
.redcircle {
    position: absolute;
    width: 10vw;
    bottom: 0;
    left: 0;
    margin: 0px 0px 200px 125px;
}
.umbrellasticker {
    position: absolute;
    width: 8.5vw;
    right: 0;
    bottom: 0;
    margin: 0px 140px 300px 0px;
}
.fragilesticker {
    position: absolute;
    width: 22.5vw;
    bottom: 0;
    left: 0;
    margin: 0px 0px 25px 40px;
}
