html,
body {
  padding: 0;
  margin: 0;
  // overflow-y: hidden; //// OPTIONEEL
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Atrament";
  src: url("../asset/Atrament/Atrament.ttf") format("truetype");
}
//// Algemene CSS voor NavBar
.socials-container {
  display: flex;
  top: 0;
  z-index: 10000;
}
.nav__link {
  position: relative;
  font-family: "Atrament";
  text-transform: uppercase;
  transition: all 0.2s;
}
.menu-sticker {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 100px;
  margin-top: 50px;
  z-index: 10000;
  cursor: pointer;
  opacity: 0.85;
  &:hover {
    opacity: 1;
    transition: 350ms ease-in-out;
  }
  img {
    width: 100%;
  }
}
.nav-container {
  right: 0;
  top: 0;
  z-index: 1000;
}
.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.nav__menu-bar div {
  width: 40px;
  background-color: black;
  border-radius: 5px;
}
.nav__menu-list {
  position: fixed;
  display: flex;
  align-items: center;
  font-family: "Atrament";
  background-color: #ff70db;
}
div.nav__menu-list div a {
  text-transform: uppercase;
  // font-weight: 600;
  color: black;
  &:hover {
    color: whitesmoke;
    transition: 400ms ease-in-out;
  }
}
.nav__link.active {
  color: whitesmoke;
}
///Mobile Portrait NavBar
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu-sticker {
    display: none;
  }
  .socials-container {
    position: fixed;
    left: 0;
    margin-left: 25px;
    margin-top: 20px;
    img {
      width: 50px;
    }
    a:nth-child(2) {
      margin-left: 5px;
    }
  }
  .nav-container {
    position: fixed;
    right: 0;
    margin-top: 25px;
    margin-right: 25px;
  }
  .nav__menu-bar div {
    height: 4px;
  }
  .nav__menu-list {
    position: fixed;
    flex-direction: column;
    top: 75px;
    width: 300px;
    right: -300px;
    row-gap: 10px;
    padding: 120px 0px;
    min-height: calc(100vh - 75px);
    opacity: 0.95;
    transition: all 0.3s;
    border-radius: 25px 0px 0px 0px;
    img {
      width: 100px;
      margin-bottom: 25px;
    }
  }
  .nav__menu-list.active {
    right: 0;
    img {
      width: 100px;
      margin-bottom: 25px;
    }
  }
  .nav__link {
    font-size: 40px;
  }
}
///Mobile Landscape NavBar
@media only screen and (min-width: 600px) and (max-width: 926px) and (orientation: landscape) {
  .menu-sticker {
    display: none;
  }
  .socials-container {
    position: fixed;
    left: 0;
    margin-left: 25px;
    margin-top: 20px;
    img {
      width: 50px;
    }
    a:nth-child(2) {
      margin-left: 5px;
    }
  }
  .nav-container {
    position: fixed;
    right: 0;
    margin-top: 25px;
    margin-right: 25px;
  }
  .nav__menu-bar div {
    height: 4px;
  }
  .nav__menu-list {
    position: fixed;
    flex-direction: column;
    top: 75px;
    width: 350px;
    right: -350px;
    row-gap: 3.5px;
    padding: 40px 0px;
    min-height: calc(100vh - 75px);
    opacity: 0.95;
    transition: all 0.3s;
    border-radius: 25px 0px 0px 0px;
    img {
      width: 100px;
      margin-bottom: 5px;
    }
  }
  .nav__menu-list.active {
    right: 0;
    img {
      width: 100px;
      margin-bottom: 5px;
    }
  }
  .nav__link {
    font-size: 31px;
  }
}
///Tablet Portrait NavBar
@media screen and (min-width: 600px) and (orientation: portrait) {
  .menu-sticker {
    display: none;
  }
  .socials-container {
    position: fixed;
    left: 0;
    margin-left: 25px;
    margin-top: 20px;
    img {
      width: 65px;
    }
    a:nth-child(2) {
      margin-left: 5px;
    }
  }
  .nav-container {
    position: fixed;
    right: 0;
    margin-top: 35px;
    margin-right: 35px;
  }
  .nav__menu-bar div {
    height: 5px;
  }
  .nav__menu-list {
    position: fixed;
    flex-direction: column;
    top: 90px;
    width: 450px;
    right: -450px;
    row-gap: 15px;
    padding: 200px 0px;
    min-height: calc(100vh - 90px);
    opacity: 0.95;
    transition: all 0.3s;
    border-radius: 25px 0px 0px 0px;
    img {
      width: 175px;
      margin-bottom: 35px;
    }
  }
  .nav__menu-list.active {
    right: 0;
    img {
      width: 200px;
      margin-bottom: 35px;
    }
  }
  .nav__link {
    font-size: 65px;
  }
}
///Tablet Landscape NavBar
@media screen and (min-width: 1023px) and (max-width: 1280px) and (orientation: landscape) {
  .menu-sticker {
    display: none;
  }
  .socials-container {
    position: fixed;
    display: flex;
    left: 0;
    margin-left: 25px;
    margin-top: 20px;
    img {
      width: 60px;
    }
    a:nth-child(2) {
      margin-left: 5px;
    }
  }
  .nav-container {
    position: fixed;
    right: 0;
    margin-top: 35px;
    margin-right: 35px;
  }
  .nav__menu-bar div {
    height: 5px;
  }
  .nav__menu-list {
    position: fixed;
    flex-direction: column;
    top: 90px;
    width: 550px;
    right: -550px;
    row-gap: 5px;
    padding: 100px 0px;
    min-height: calc(100vh - 90px);
    opacity: 0.95;
    transition: all 0.3s;
    border-radius: 25px 0px 0px 0px;
    img {
      width: 175px;
      margin-bottom: 30px;
    }
  }
  .nav__menu-list.active {
    right: 0;
    img {
      width: 200px;
      margin-bottom: 30px;
    }
  }
  .nav__link {
    font-size: 55px;
  }
}
///Desktop NavBar
@media screen and (min-width: 1281px) and (max-width: 1960px) {
  .nav__menu-bar {
    display: none;
  }
  .mobile-menu-logo {
    display: none;
  }
  .menu-sticker {
    width: 7.5vw;
  }
  .nav-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 50px;
  }
  .nav__menu-list {
    position: unset;
    justify-content: space-evenly;
    flex-direction: row;
    min-height: 50px; ///was fit-content
    width: 65vw; ///was fit-content
  }
  div.nav__menu-list div a {
    font-size: 31px;
  }
  .nav__link::before {
    content: "";
    position: absolute;
    width: 0%;
    bottom: -16px;
    left: 0;
    height: 6px;
    transition: all 0.2s;
  }
  .socials-container {
    position: absolute;
    display: flex;
    right: 0;
    margin-right: 100px;
    margin-top: 50px;
    img {
      width: 50px;
      &:hover {
        transform: scale(1.1);
        opacity: 1;
        transition: 300ms ease-in-out;
      }
    }
    a:nth-child(1) {
      margin-right: 5px;
    }
  }
}
///Desktop Big NavBar
@media screen and (min-width: 1961px) and (max-width: 2400px) {
  .nav__menu-bar {
    display: none;
  }
  .mobile-menu-logo {
    display: none;
  }
  .menu-sticker {
    width: 120px;
  }
  .nav-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 50px;
  }
  .nav__menu-list {
    position: unset;
    justify-content: space-evenly;
    flex-direction: row;
    min-height: 55px; ///was fit-content
    width: 65vw; ///was fit-content
  }
  div.nav__menu-list div a {
    font-size: 34px;
  }
  .nav__link::before {
    content: "";
    position: absolute;
    width: 0%;
    bottom: -16px;
    left: 0;
    height: 6px;
    transition: all 0.2s;
  }
  .socials-container {
    position: absolute;
    display: flex;
    right: 0;
    margin-right: 100px;
    margin-top: 50px;
    z-index: 2;
    img {
      width: 50px;
      &:hover {
        transform: scale(1.1);
        opacity: 1;
        transition: 300ms ease-in-out;
      }
    }
    a:nth-child(1) {
      margin-right: 5px;
    }
  }
}

/* Style for Accordion section Info Page */
.accordion__section {
  display: flex;
  flex-direction: column;
  max-width: 768px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  display: flex;
  align-items: center;
  background: #98d4f4;
  border-radius: 5px;
  border: none;
  outline: none;
}
.accordion.active {
  background-color: #65c4f7;
  transition: all 0.4s ease;
  color: #ff70db !important;
}
/* Style the accordion content title */
.accordion__title {
  // color: black;
  font-weight: 600;
  text-align: left;
  font-family: "Atrament";
  text-transform: uppercase;
}
/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}
/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}
/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: greenyellow;
  overflow: auto;
  transition: max-height 0.6s ease;
}
/* Style the accordion content text */
.accordion__text {
  font-family: "Atrament";
  font-weight: 400;
}
///Mobile Portrait Accordion
@media screen and (max-width: 600px) and (orientation: portrait) {
  .accordion__section {
    margin: 3.5px;
    padding: 3px;
  }
  .accordion {
    height: 40px;
    padding: 1px;
  }
  .accordion__title {
    font-size: 26px;
    padding-left: 7.5px;
  }
  .accordion__icon {
    margin-right: 1rem;
  }
  .accordion__text {
    font-size: 19px;
    padding: 10px;
  }
}
///Mobile Landscape Accordion
@media only screen and (min-width: 600px) and (max-width: 926px) and (orientation: landscape) {
  .accordion__section {
    margin: 3.5px;
    padding: 3px;
  }
  .accordion {
    height: 40px;
    padding: 1px;
  }
  .accordion__title {
    font-size: 26px;
    padding-left: 7.5px;
  }
  .accordion__icon {
    margin-right: 1rem;
  }
  .accordion__text {
    font-size: 19px;
    padding: 10px;
  }
}
///Tablet Portrait Accordion
@media screen and (min-width: 600px) and (orientation: portrait) {
  .accordion__section {
    margin: 3.5px;
    padding: 3px;
  }
  .accordion {
    height: 40px;
    padding: 1px;
  }
  .accordion__title {
    font-size: 26px;
    padding-left: 7.5px;
  }
  .accordion__icon {
    margin-right: 1rem;
  }
  .accordion__text {
    font-size: 19px;
    padding: 10px;
  }
}
///Tablet Landscape Accordion
@media screen and (min-width: 1023px) and (max-width: 1280px) and (orientation: landscape) {
  .accordion__section {
    margin: 3.5px;
    padding: 3px;
  }
  .accordion {
    height: 40px;
    padding: 1px;
  }
  .accordion__title {
    font-size: 26px;
    padding-left: 7.5px;
  }
  .accordion__icon {
    margin-right: 1rem;
  }
  .accordion__text {
    font-size: 19px;
    padding: 10px;
  }
}
///Desktop Accordion
@media screen and (min-width: 1281px) and (max-width: 1960px) {
  .accordion__section {
    margin: 5px;
    padding: 2.5px;
  }
  .accordion {
    height: 45px;
    padding: 5px;
    cursor: pointer;
  }
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordion:hover {
    background-color: #65c4f7;
    transition: all 0.4s ease;
  }
  /* Style the accordion content title */
  .accordion__title {
    font-size: 26px;
    padding-left: 10px;
  }
  /* Style the accordion chevron icon */
  .accordion__icon {
    margin-right: 1.5rem;
  }
  /* Style the accordion content text */
  .accordion__text {
    font-size: 18px;
    padding: 10px;
  }
}
///Desktop Big Accordion
@media screen and (min-width: 1961px) and (max-width: 2400px) {
  .accordion__section {
    margin: 5px;
    padding: 2.5px;
  }
  .accordion {
    height: 45px;
    padding: 5px;
    cursor: pointer;
  }
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordion:hover {
    background-color: #65c4f7;
    transition: all 0.4s ease;
  }
  /* Style the accordion content title */
  .accordion__title {
    font-size: 26px;
    padding-left: 10px;
  }
  /* Style the accordion chevron icon */
  .accordion__icon {
    margin-right: 1.5rem;
  }
  /* Style the accordion content text */
  .accordion__text {
    font-size: 18px;
    padding: 10px;
  }
}

///Mobile Portrait FORM
@media screen and (max-width: 600px) and (orientation: portrait) {
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div {
    max-width: 450px;
    margin: 0;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > h2 {
    font-size: 26px;
  }
  #field-\:R1qkm\:-label,
  #field-\:R2akm\:-label,
  #field-\:R2qkm\:-label,
  #field-\:R3akm\:-label {
    font-size: 15px;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > div {
    margin-bottom: 7px;
  }
  #field-\:R2akm\:,
  #field-\:R1qkm\:,
  #field-\:R2qkm\: {
    height: 22.5px;
    width: 200px;
  }
  #field-\:R3akm\: {
    height: 30px;
    width: 200px;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > button {
    height: 22.5px;
    width: 115px;
    font-size: 20px;
  }
}
///Mobile Landscape FORM
@media only screen and (min-width: 600px) and (max-width: 926px) and (orientation: landscape) {
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div {
    max-width: 450px;
    margin: 0;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > h2 {
    font-size: 22px;
  }
  #field-\:R1qkm\:-label,
  #field-\:R2akm\:-label,
  #field-\:R2qkm\:-label,
  #field-\:R3akm\:-label {
    font-size: 15px;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > div {
    margin-bottom: 7px;
  }
  #field-\:R2akm\:,
  #field-\:R1qkm\:,
  #field-\:R2qkm\: {
    height: 22.5px;
    width: 190px;
  }
  #field-\:R3akm\: {
    height: 30px;
    width: 190px;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > button {
    height: 22.5px;
    width: 115px;
    font-size: 20px;
  }
}
///Tablet Portrait FORM
@media screen and (min-width: 600px) and (orientation: portrait) {
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div {
    max-width: 450px;
    margin: 0;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > h2 {
    font-size: 27px;
  }
  #field-\:R1qkm\:-label,
  #field-\:R2akm\:-label,
  #field-\:R2qkm\:-label,
  #field-\:R3akm\:-label {
    font-size: 19px;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > div {
    margin-bottom: 10px;
  }
  #field-\:R2akm\:,
  #field-\:R1qkm\:,
  #field-\:R2qkm\: {
    height: 30px;
    width: 275px;
  }
  #field-\:R3akm\: {
    height: 50px;
    width: 275px;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > button {
    height: 30px;
    width: 115px;
    font-size: 24px;
  }
}
///Tablet Landscape FORM
@media screen and (min-width: 1023px) and (max-width: 1280px) and (orientation: landscape) {
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div {
    max-width: 450px;
    margin: 0;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > h2 {
    font-size: 27px;
  }
  #field-\:R1qkm\:-label,
  #field-\:R2akm\:-label,
  #field-\:R2qkm\:-label,
  #field-\:R3akm\:-label {
    font-size: 19px;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > div {
    margin-bottom: 10px;
  }
  #field-\:R2akm\:,
  #field-\:R1qkm\:,
  #field-\:R2qkm\: {
    height: 30px;
    width: 275px;
  }
  #field-\:R3akm\: {
    height: 50px;
    width: 275px;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > button {
    height: 30px;
    width: 115px;
    font-size: 24px;
  }
}
///Desktop Big FORM
@media screen and (min-width: 1961px) and (max-width: 2400px) {
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div {
    max-width: 450px;
    margin: 0;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > h2 {
    font-size: 27px;
  }
  #field-\:R1qkm\:-label,
  #field-\:R2akm\:-label,
  #field-\:R2qkm\:-label,
  #field-\:R3akm\:-label {
    font-size: 19px;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > div {
    margin-bottom: 10px;
  }
  #field-\:R2akm\:,
  #field-\:R1qkm\:,
  #field-\:R2qkm\: {
    height: 30px;
    width: 325px;
  }
  #field-\:R3akm\: {
    height: 50px;
    width: 325px;
  }
  #__next > section > div.Shop_shopitemscontainer__bocEk > div.Shop_formcontainer__v4ZAc > div > button {
    height: 30px;
    width: 115px;
    font-size: 24px;
  }
}
